# Visual Studio files
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build folders
bin/
obj/

# Packages
*.nupkg
*.snupkg
packages/

# Publish outputs
*.Publish.xml
*.log

# VS Code
.vscode/

# Others
*.dbmdl
*.pdb
*.cache

# Ignore sensitive config files
Web.config